build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
src/main/resources/docs/
.md.html
.DeveloperGuide.md.html
.UserGuide.md.html
.README.md.html
.AboutUs.md.html
.classpath
.gitignore
